.main__menu {
  position: relative;
  right: 3px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 5rem;
  background-color: #161616;
  -webkit-box-shadow: 8px 4px 8px 0px rgba(47, 47, 47, 0.2);
  -moz-box-shadow: 8px 4px 8px 0px rgba(47, 47, 47, 0.2);
  box-shadow: 8px 4px 8px 0px rgba(47, 47, 47, 0.2);
  z-index: 2;
}

.menu__list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5px;
}
.list__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  text-align: center;
  box-sizing: border-box;
}
.list__item a {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-top: 10px;
  font-weight: bold;
  color: rgb(23, 199, 146);
  cursor: pointer;
  font-size: 14px;
}

.list__item:hover {
  position: relative;
  color: white;
  border-bottom: 1px solid rgb(23, 199, 146);
  border-top: 1px solid rgb(23, 199, 146);
  box-sizing: border-box;
}

.contact a path {
  fill: transparent;
  stroke: 10px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}
.exp a path {
  fill: transparent;
  stroke: 10px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}
.home:hover,
.exp:hover,
.work:hover,
.contact:hover {
  padding: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.home:hover::before {
  position: absolute;
  color: rgb(23, 199, 146);
  font-size: 18px;
  font-size: bold;
  content: 'HOME';
}

.exp:hover::before {
  position: absolute;
  color: rgb(23, 199, 146);
  font-size: 18px;
  font-size: bold;
  content: 'SKILLS';
}

.work:hover::before {
  position: absolute;
  color: rgb(23, 199, 146);
  font-size: 18px;
  font-size: bold;
  content: 'WORKS';
}

.contact:hover::before {
  position: absolute;
  color: rgb(23, 199, 146);
  font-size: 14px;
  font-size: bold;
  content: 'CONTACTS';
}

.home a path {
  fill: transparent;
  stroke: 10px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}

.work a path {
  fill: transparent;
  stroke: 1px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}
.exp:hover a path {
  animation: animate-contact 1.5s linear forwards;
}
.home:hover a path {
  animation: animate-contact 1.5s linear forwards;
}
.work:hover a path {
  animation: animate-contact 1.5s linear forwards;
}
.contact:hover a path {
  animation: animate-contact 1.5s linear forwards;
}

@keyframes animate-contact {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 200;
  }
  80% {
    stroke-dashoffset: 400;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 400;
    fill: rgb(23, 199, 146);
  }
}

@media (max-width: 420px) {
  .main__menu {
    z-index: 3;
    align-items: flex-end;
    justify-content: center;
  }
}
