.wrap {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #161616;
  overflow-y: hidden;
  overflow-x: hidden;
}
.block {
  position: absolute;
  width: 50px;
  height: 100px;
  background-color: #161616;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.4);
}
.networks {
  width: 10%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  padding: 10px 20px 0 0;
  cursor: pointer;
  z-index: 3;
}

.networks img {
  width: 25px;
  height: 25px;
}
.text-zone {
  z-index: 3;
  padding: 0 5rem;
  background-color: rgba(#fff, #fff, #fff, 1);
}
.section-home {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #161616;
}

.gray-text {
  top: 40px;
  position: relative;
  margin: 40px 0 0 0;
  font-size: 16px;
  color: #8d8d8d;
}
.main__wrapper {
  width: 100%;
  height: 100vh;
  background-color: #161616;
  overflow-x: hidden;
}

.flat-button {
  margin-top: 30px;
  color: #08fdd8;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  top: 50px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
}
.flat-button div {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.flat-button:hover {
  color: #000;
}
.flat-button span.bg {
  left: -5%;
  position: absolute;
  background: #08fdd8;
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
.flat-button:hover span.bg {
  width: 110%;
}
.flat-button:hover span.text:after {
  background: #fff;
}
.flat-button span.base {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #08fdd8;
}
.flat-button span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.nbps {
  padding: 0 10px;
}
.flat-button span.text:after {
  content: '';
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #08fdd8;
  position: absolute;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.flat-button--small {
  height: 42px;
  line-height: 42px;
}
.logo {
  position: relative;
  left: 10px;
}

.logo__svg {
  position: relative;
  top: 8px;
  cursor: pointer;
  padding: 0 10px 10px 25px;
}

h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  margin-top: -2rem;
  left: 9rem;
}
h1:after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  margin-top: 7rem;
  margin-left: -3rem;
}
p:before {
  content: '<p>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: -2rem;
}
p:after {
  content: '<p/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: 10rem;
  bottom: -1rem;
}

.section-home:after {
  content: '<body>';
  top: 0;
  left: 5rem;
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  margin-left: 2rem;
}

.section-home:before {
  content: '</body>';
  bottom: 0;
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1rem;
  position: absolute;
  margin-left: 7rem;
}

canvas {
  position: absolute;
  left: 20rem;
  z-index: 2;
}

#main-layer {
  position: absolute;
}

#loader {
  position: absolute;
  font-weight: bold;
  width: 150px;
  color: #ffffff;
  font-size: 11px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

/* about link box */
#about {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
}

.toggle {
  z-index: 4;
  position: absolute;
  right: 0;
  margin: 50px 40px 40px 40px;
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}
.music__switch {
  color: rgb(23, 199, 146);
}
.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #515152;
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: rgb(23, 199, 146);
}

.toggle__fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

@media (max-width: 420px) {
  .networks {
    width: 35%;
    padding-right: 84px;
  }
  .text-zone {
    position: relative;
    padding: 0 1rem;
    bottom: 90px;
    left: 20px;
  }
  .animation-logo {
    height: 50px;
  }

  .toggle {
    right: 0rem;
  }
  .logo__svg {
    height: 85px;
  }

  canvas {
    height: 1000px !important;
    top: -15rem;
    left: -2rem;
  }

  .player {
    position: relative;
    top: 20rem;
  }

  body {
    width: 100vw;
    height: 100vh;
    max-width: 420px;
    background-color: #161616;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
