body {
  background-color: #161616;
  overflow-y: hidden;
  overflow-x: hidden;
}
.blast-root {
  padding: 5rem 2rem 1rem 2rem;
}
.about__wrapper {
  display: flex;
}

.description {
  padding: 0 18px;
  color: gray;
  font-size: 18px;
}

.section-about {
}
.text-zone {
  width: 40%;
  position: relative;
  bottom: 25rem;
  left: 9rem;
}

.skills-charts {
  position: relative;
  bottom: 46rem;
  left: 45rem;
}
.section-about .skills-charts {
  width: 50%;
  position: relative;
  bottom: 2rem;
}
.section-about #myCanvasContainer {
  cursor: pointer;
}
.section-about #myCanvas {
  position: relative;
  margin: auto;
  width: 100%;
  bottom: 6rem;
}
.section-about #myCanvasContainer li a {
  font-size: 30px;
  font-family: font-file-82132;
}
.page-about {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-about .text-zone {
  width: 40%;
}
.page-about .skills-charts {
  width: 60%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.page-about #myCanvasContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-about #myCanvas {
  margin: auto;
  width: 100%;
}
.page-about #myCanvasContainer li a {
  font-size: 30px;
  font-family: font-file-82132;
}
.page-skills {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-skills .text-zone {
  width: 50%;
  padding-right: 5rem;
}
.page-skills .text-zone + div {
  padding-right: 5rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page-skills .charts {
  opacity: 0;
}
.logo__svg {
  position: relative;
  top: 8px;
  cursor: pointer;
  padding: 0 10px 10px 15px;
}
.logo img {
  width: 5rem;
  border: 1px solid rgb(23, 199, 146);
  cursor: zoom-in;
}
br {
  display: none;
}
@media (max-width: 420px) {
  #section-about {
    flex-direction: column;
  }

  .blast-root {
    padding-right: 10px;
  }
  .text-zone {
    width: 100%;
    padding: 40px 40px;
    position: relative;
    bottom: 25rem;
  }

  .section-about .skills-charts {
    width: unset;
  }

  .description p {
    padding: 10px 5px;
    text-align: left;
  }

  header {
    text-align: left;
  }

  #myCanvasContainer {
    position: relative;
    bottom: 70px;
    z-index: -1;
  }
  br {
    display: inline;
  }
}
/* .top__section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 52vh;
  margin-bottom: 30px;
} */
h2 .blast,
h1 .blast {
  font-size: 2rem !important;
  color: white;
  opacity: 1;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.bottom__section {
  width: 100%;
  /* height: 50vh; */
  margin-top: 30px;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

section {
  margin: 0 auto;
}
