* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.main__menu {
  z-index: 3;
  display: flex;
  align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  width: 5rem;
  background-color: #161616;
}

.menu__list {
  width: 8rem;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
.list__item {
  padding-left: 14px;
  position: relative;
  padding-top: 12px;
  list-style: none;
  text-align: center;
}
.list__item a {
  font-weight: bold;
  color: rgb(23, 199, 146);
  cursor: pointer;
  font-size: 14px;
}

.list__item:hover {
  color: white;
  border-bottom: 1px solid rgb(23, 199, 146);
  border-top: 1px solid rgb(23, 199, 146);
}
.exp:hover a path {
  animation: animate-contact 1.5s linear forwards;
}
.home:hover a path {
  animation: animate-contact 1.5s linear forwards;
}
.work:hover a path {
  animation: animate-contact 1.5s linear forwards;
}
.contact:hover a path {
  animation: animate-contact 1.5s linear forwards;
}

@keyframes animate-contact {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 200;
  }
  80% {
    stroke-dashoffset: 400;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 400;
    fill: rgb(23, 199, 146);
  }
}

.list__item:hover {
  color: white;
}

.magicwall {
  position: relative;
  display: block;
}
.magicwall.magicwall-loading:before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: url('./img__wall/loading2.gif') center center no-repeat;
  border-radius: 50%;
}
.magicwall .magicwall-grid {
  background-color: transparent;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  list-style: none;
  font-size: 0;
  z-index: 1;
}
.magicwall .magicwall-grid > li {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
}

.magicwall .magicwall-grid > li > .magicwall-wrap {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.magicwall .magicwall-grid > li > .magicwall-wrap > .magicwall-thumb {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.magicwall .magicwall-grid > li.magicwall-loading > .magicwall-wrap:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background: url('./img__wall/loading2.gif') center center no-repeat;
  border-radius: 50%;
}
.magicwall li .hover-content {
  position: absolute;
  z-index: 1;
  opacity: 1;
  font: normal normal 16px/20px 'Open Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.15s ease-out;
  -o-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
  width: 100%;
  height: 100%;
}
.magicwall li:hover .hover-content {
  background: rgba(0, 0, 0, 0);
}
.magicwall .magicwall-grid > li > .magicwall-wrap > .magicwall-thumb {
  -webkit-transition: transform 0.3s ease-in;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.magicwall .magicwall-grid > li:hover > .magicwall-wrap > .magicwall-thumb {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.cboxElement {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
}

.magicwall li a.colorbox {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: url('./img__wall/circle.png') no-repeat center;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
}
.magicwall li:hover a.colorbox {
  opacity: 1;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
#cboxCurrent {
  display: none !important;
}
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxWrapper {
  max-width: none;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  position: fixed !important;
  margin-bottom: -26px !important;
  width: 100vw;
  z-index: 1;
  background: rgba(20, 145, 218, 0.4);
}
#cboxTitle a {
  display: block;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#cboxTitle a:hover {
  color: #08fdd8;
  background: #252627;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#cboxOverlay {
  background: url('./img__wall/overlay.png') repeat 0 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
#colorbox {
  outline: 0;
}

#cboxTopCenter {
  height: 21px;
  background: url('./img__wall/border.png') 0 0 repeat-x;
}
#cboxBottomCenter {
  height: 21px;
  background: url('./img__wall/border.png') 0 -29px repeat-x;
}
#cboxContent {
  background: #fff;
  overflow: hidden;
}
.cboxIframe {
  background: #fff;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  margin-bottom: 28px;
}
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}
#cboxTitle {
  margin: 0;
  bottom: 26px !important;
  color: transparent;
}
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}
#cboxLoadingOverlay {
  background: url('./img__wall/loading_background.png') no-repeat center center;
}
#cboxLoadingGraphic {
  background: url('./img__wall/Fidget-spinner.gif') no-repeat center center;
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: 0 0;
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

#cboxPrevious:hover {
  background-position: -75px -25px;
}

#cboxNext:hover {
  background-position: -50px -25px;
}

#cboxClose:hover {
  background-position: -25px -25px;
}
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
.alertify .ajs-dimmer {
  position: fixed;
  z-index: 1981;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #252525;
  opacity: 0.5;
}
.alertify .ajs-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  overflow-y: auto;
  z-index: 1981;
}
.alertify .ajs-dialog {
  position: relative;
  margin: 5% auto;
  min-height: 110px;
  max-width: 500px;
  padding: 24px 24px 0;
  outline: 0;
  background-color: #fff;
}
.alertify .ajs-dialog.ajs-capture:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 1;
}
.alertify .ajs-reset {
  position: absolute !important;
  display: inline !important;
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
}
.alertify .ajs-commands {
  position: absolute;
  right: 4px;
  margin: -14px 24px 0 0;
  z-index: 2;
}
.alertify .ajs-commands button {
  display: none;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.alertify .ajs-commands button.ajs-close {
  background-image: url('./img__wall/circle.png');
}
.alertify .ajs-commands button.ajs-maximize {
  background-image: url('./img__wall/circle.png');
}
.alertify .ajs-header {
  margin: -24px;
  margin-bottom: 0;
  padding: 16px 24px;
  background-color: #fff;
}
.alertify .ajs-body {
  min-height: 56px;
}
.alertify .ajs-body .ajs-content {
  padding: 16px 24px 16px 16px;
}
.alertify .ajs-footer {
  padding: 4px;
  margin-left: -24px;
  margin-right: -24px;
  min-height: 43px;
  background-color: #fff;
}
.alertify .ajs-footer .ajs-buttons.ajs-primary {
  text-align: right;
}
.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button {
  margin: 4px;
}
.alertify .ajs-footer .ajs-buttons.ajs-auxiliary {
  float: left;
  clear: none;
  text-align: left;
}
.alertify .ajs-footer .ajs-buttons.ajs-auxiliary .ajs-button {
  margin: 4px;
}
.alertify .ajs-footer .ajs-buttons .ajs-button {
  min-width: 88px;
  min-height: 35px;
}
.alertify .ajs-handle {
  position: absolute;
  display: none;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url('./img__wall/circle.png');
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  cursor: se-resize;
}
.alertify.ajs-no-overflow .ajs-body .ajs-content {
  overflow: hidden !important;
}
.alertify.ajs-no-padding.ajs-maximized .ajs-body .ajs-content {
  left: 0;
  right: 0;
  padding: 0;
}
.alertify.ajs-no-padding:not(.ajs-maximized) .ajs-body {
  margin-left: -24px;
  margin-right: -24px;
}
.alertify.ajs-no-padding:not(.ajs-maximized) .ajs-body .ajs-content {
  padding: 0;
}
.alertify.ajs-no-padding.ajs-resizable .ajs-body .ajs-content {
  left: 0;
  right: 0;
}
.alertify.ajs-maximizable .ajs-commands button.ajs-maximize,
.alertify.ajs-maximizable .ajs-commands button.ajs-restore {
  display: inline-block;
}
.alertify.ajs-closable .ajs-commands button.ajs-close {
  display: inline-block;
}
.alertify.ajs-maximized .ajs-dialog {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  margin: 0 auto !important;
  top: 0 !important;
  left: 0 !important;
}
.alertify.ajs-maximized.ajs-modeless .ajs-modal {
  position: fixed !important;
  min-height: 100% !important;
  max-height: none !important;
  margin: 0 !important;
}
.alertify.ajs-maximized .ajs-commands button.ajs-maximize {
  background-image: url('./img__wall/circle.png');
}
.alertify.ajs-maximized .ajs-dialog,
.alertify.ajs-resizable .ajs-dialog {
  padding: 0;
}
.alertify.ajs-maximized .ajs-commands,
.alertify.ajs-resizable .ajs-commands {
  margin: 14px 24px 0 0;
}
.alertify.ajs-maximized .ajs-header,
.alertify.ajs-resizable .ajs-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 16px 24px;
}
.alertify.ajs-maximized .ajs-body,
.alertify.ajs-resizable .ajs-body {
  min-height: 224px;
  display: inline-block;
}
.alertify.ajs-maximized .ajs-body .ajs-content,
.alertify.ajs-resizable .ajs-body .ajs-content {
  position: absolute;
  top: 50px;
  right: 24px;
  bottom: 50px;
  left: 24px;
  overflow: auto;
}
.alertify.ajs-maximized .ajs-footer,
.alertify.ajs-resizable .ajs-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.alertify.ajs-resizable:not(.ajs-maximized) .ajs-dialog {
  min-width: 548px;
}
.alertify.ajs-resizable:not(.ajs-maximized) .ajs-handle {
  display: block;
}
.alertify.ajs-movable:not(.ajs-maximized) .ajs-header {
  cursor: move;
}
.alertify.ajs-modeless .ajs-dimmer,
.alertify.ajs-modeless .ajs-reset {
  display: none;
}
.alertify.ajs-modeless .ajs-modal {
  overflow: visible;
  max-width: none;
  max-height: 0;
}
.alertify.ajs-modeless.ajs-pinnable .ajs-commands button.ajs-pin {
  display: inline-block;
  background-image: url('./img__wall/circle.png');
}
.alertify.ajs-modeless.ajs-unpinned .ajs-modal {
  position: absolute;
}
.alertify.ajs-modeless.ajs-unpinned .ajs-commands button.ajs-pin {
  background-image: url('./img__wall/circle.png');
}
.alertify.ajs-modeless:not(.ajs-unpinned) .ajs-body {
  max-height: 500px;
  overflow: auto;
}
.alertify.ajs-basic .ajs-header {
  opacity: 0;
}
.alertify.ajs-basic .ajs-footer {
  visibility: hidden;
}
.alertify.ajs-frameless .ajs-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 60px;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 1;
}
.alertify.ajs-frameless .ajs-footer {
  display: none;
}
.alertify.ajs-frameless .ajs-body .ajs-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.alertify.ajs-frameless:not(.ajs-resizable) .ajs-dialog {
  padding-top: 0;
}
.alertify.ajs-frameless:not(.ajs-resizable) .ajs-dialog .ajs-commands {
  margin-top: 0;
}
.ajs-no-overflow {
  overflow: hidden !important;
  outline: 0;
}
.ajs-no-overflow.ajs-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll !important;
}
.ajs-no-selection,
.ajs-no-selection * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 568px) {
  .alertify .ajs-dialog {
    min-width: 150px;
  }
  .alertify:not(.ajs-maximized) .ajs-modal {
    padding: 0 5%;
  }
  .alertify:not(.ajs-maximized).ajs-resizable .ajs-dialog {
    min-width: initial;
    min-width: auto;
  }
}
@-moz-document url-prefix() {
  .alertify button:focus {
    outline: 1px dotted #3593d2;
  }
}
.alertify .ajs-dimmer,
.alertify .ajs-modal {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.alertify.ajs-hidden .ajs-dimmer,
.alertify.ajs-hidden .ajs-modal {
  visibility: hidden;
  opacity: 0;
}
.alertify.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.alertify.ajs-out.ajs-hidden .ajs-dialog {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
}
.alertify .ajs-dialog.ajs-shake {
  -webkit-animation-name: ajs-shake;
  animation-name: ajs-shake;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes ajs-shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes ajs-shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.alertify.ajs-slide.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-name: ajs-slideIn;
  animation-name: ajs-slideIn;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.alertify.ajs-slide.ajs-out.ajs-hidden .ajs-dialog {
  -webkit-animation-name: ajs-slideOut;
  animation-name: ajs-slideOut;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.alertify.ajs-zoom.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-name: ajs-zoomIn;
  animation-name: ajs-zoomIn;
}
.alertify.ajs-zoom.ajs-out.ajs-hidden .ajs-dialog {
  -webkit-animation-name: ajs-zoomOut;
  animation-name: ajs-zoomOut;
}
.alertify.ajs-fade.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-name: ajs-fadeIn;
  animation-name: ajs-fadeIn;
}
.alertify.ajs-fade.ajs-out.ajs-hidden .ajs-dialog {
  -webkit-animation-name: ajs-fadeOut;
  animation-name: ajs-fadeOut;
}
.alertify.ajs-pulse.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-name: ajs-pulseIn;
  animation-name: ajs-pulseIn;
}
.alertify.ajs-pulse.ajs-out.ajs-hidden .ajs-dialog {
  -webkit-animation-name: ajs-pulseOut;
  animation-name: ajs-pulseOut;
}
.alertify.ajs-flipx.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-name: ajs-flipInX;
  animation-name: ajs-flipInX;
}
.alertify.ajs-flipx.ajs-out.ajs-hidden .ajs-dialog {
  -webkit-animation-name: ajs-flipOutX;
  animation-name: ajs-flipOutX;
}
.alertify.ajs-flipy.ajs-in:not(.ajs-hidden) .ajs-dialog {
  -webkit-animation-name: ajs-flipInY;
  animation-name: ajs-flipInY;
}
.alertify.ajs-flipy.ajs-out.ajs-hidden .ajs-dialog {
  -webkit-animation-name: ajs-flipOutY;
  animation-name: ajs-flipOutY;
}
@-webkit-keyframes ajs-pulseIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes ajs-pulseIn {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes ajs-pulseOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes ajs-pulseOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@-webkit-keyframes ajs-zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes ajs-zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes ajs-zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
}
@keyframes ajs-zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.25, 0.25, 0.25);
    transform: scale3d(0.25, 0.25, 0.25);
  }
}
@-webkit-keyframes ajs-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ajs-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes ajs-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ajs-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ajs-flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes ajs-flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@-webkit-keyframes ajs-flipOutX {
  0% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
@keyframes ajs-flipOutX {
  0% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
@-webkit-keyframes ajs-flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes ajs-flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@-webkit-keyframes ajs-flipOutY {
  0% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}
@keyframes ajs-flipOutY {
  0% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}
@-webkit-keyframes ajs-slideIn {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 5%;
  }
}
@keyframes ajs-slideIn {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 5%;
  }
}
@-webkit-keyframes ajs-slideOut {
  0% {
    margin-top: 5%;
  }
  100% {
    margin-top: -100%;
  }
}
@keyframes ajs-slideOut {
  0% {
    margin-top: 5%;
  }
  100% {
    margin-top: -100%;
  }
}
.alertify-notifier {
  position: fixed;
  width: 0;
  overflow: visible;
  z-index: 1982;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.alertify-notifier .ajs-message {
  position: relative;
  width: 260px;
  max-height: 0;
  padding: 0;
  opacity: 0;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
.alertify-notifier .ajs-message.ajs-visible {
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 1;
  max-height: 100%;
  padding: 15px;
  margin-top: 10px;
}
.alertify-notifier .ajs-message.ajs-success {
  background: rgba(91, 189, 114, 0.95);
}
.alertify-notifier .ajs-message.ajs-error {
  background: rgba(217, 92, 92, 0.95);
}
.alertify-notifier .ajs-message.ajs-warning {
  background: rgba(252, 248, 215, 0.95);
}
.alertify-notifier .ajs-message .ajs-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url('./img__wall/circle.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 2px;
}
.alertify-notifier.ajs-top {
  top: 10px;
}
.alertify-notifier.ajs-bottom {
  bottom: 10px;
}
.alertify-notifier.ajs-right {
  right: 10px;
}
.alertify-notifier.ajs-right .ajs-message {
  right: -320px;
}
.alertify-notifier.ajs-right .ajs-message.ajs-visible {
  right: 290px;
}
.alertify-notifier.ajs-left {
  left: 10px;
}
.alertify-notifier.ajs-left .ajs-message {
  left: -300px;
}
.alertify-notifier.ajs-left .ajs-message.ajs-visible {
  left: 0;
}
.alertify-notifier.ajs-center {
  left: 50%;
}
.alertify-notifier.ajs-center .ajs-message {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.alertify-notifier.ajs-center .ajs-message.ajs-visible {
  left: 50%;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.43, 0.1, 0.65);
  -o-transition-timing-function: cubic-bezier(0.57, 0.43, 0.1, 0.65);
  transition-timing-function: cubic-bezier(0.57, 0.43, 0.1, 0.65);
}
.alertify-notifier.ajs-center.ajs-top .ajs-message {
  top: -300px;
}
.alertify-notifier.ajs-center.ajs-top .ajs-message.ajs-visible {
  top: 0;
}
.alertify-notifier.ajs-center.ajs-bottom .ajs-message {
  bottom: -300px;
}
.alertify-notifier.ajs-center.ajs-bottom .ajs-message.ajs-visible {
  bottom: 0;
}
.ajs-no-transition.alertify .ajs-dialog,
.ajs-no-transition.alertify .ajs-dimmer,
.ajs-no-transition.alertify .ajs-modal {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
  animation: none !important;
}
.ajs-no-transition.alertify-notifier .ajs-message {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
  animation: none !important;
}
@media (prefers-reduced-motion: reduce) {
  .alertify .ajs-dialog,
  .alertify .ajs-dimmer,
  .alertify .ajs-modal {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    animation: none !important;
  }
  .alertify-notifier .ajs-message {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    animation: none !important;
  }
}
.ajs-message {
  background-color: #000;
}
.alertify-notifier .ajs-message.ajs-error {
  background-color: red;
  width: 300px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

svg {
  will-change: transform;
}
a {
  color: #08fdd8;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}
a:hover {
  color: #019e86;
}
img {
  max-width: 100%;
}
hr {
  float: none;
  width: 100%;
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
}
.no-border {
  border: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.top-spacer {
  margin-top: 4rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pt-3 {
  padding-top: 3rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mt-3 {
  margin-top: 3rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.pt-4 {
  padding-top: 4rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mt-4 {
  margin-top: 4rem;
}
.pb-5 {
  padding-bottom: 5rem;
}
.pt-5 {
  padding-top: 5rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.pb-6 {
  padding-bottom: 6rem;
}
.pt-6 {
  padding-top: 6rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mt-6 {
  margin-top: 6rem;
}
.pb-7 {
  padding-bottom: 7rem;
}
.pt-7 {
  padding-top: 7rem;
}
.mb-7 {
  margin-bottom: 7rem;
}
.mt-7 {
  margin-top: 7rem;
}
.pb-8 {
  padding-bottom: 8rem;
}
.pt-8 {
  padding-top: 8rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mt-8 {
  margin-top: 8rem;
}
.pb-9 {
  padding-bottom: 9rem;
}
.pt-9 {
  padding-top: 9rem;
}
.mb-9 {
  margin-bottom: 9rem;
}
.mt-9 {
  margin-top: 9rem;
}
.pb-10 {
  padding-bottom: 10rem;
}
.pt-10 {
  padding-top: 10rem;
}
.mb-10 {
  margin-bottom: 10rem;
}
.mt-10 {
  margin-top: 10rem;
}
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  z-index: 0;
}
.page-outer {
  padding-left: 5rem;
  min-height: 100vh;
  position: relative;
}
.tags {
  color: #515152;
  position: absolute;
  bottom: 0;
  left: 4rem;
  font-style: italic;
  font-size: 1.8rem;
  font-family: 'La Belle Aurore', cursive;
}
.top-tags {
  bottom: auto;
  top: 2rem;
}
.top-tags:after {
  content: '<body>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-left: 2rem;
}
.bottom-tags {
  bottom: 2rem;
  top: auto;
}
.bottom-tags:before {
  content: '</body>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-left: 2rem;
}
.secondary-col {
  color: #fd2155;
}
.primary-col {
  color: #08fdd8;
}
.gray-text {
  font-size: 1.6rem;
  letter-spacing: 4px;
  margin-top: 3rem;
  display: block;
  color: #8d8d8d;
}
h1 {
  color: #fff;
  margin: 0;
  font-family: font-file-82132;
  font-weight: 400;
  font-size: 10.3rem;
  line-height: 8.7rem;
  position: relative;
}
h1 img {
  opacity: 0;
  margin-right: -2rem;
}
h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: -5rem;
  left: -1.5rem;
}
h1:after {
  content: '<h1/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: 3.8rem;
  margin-left: 2rem;
}
.fake-h2,
h2 {
  font-family: font-file-82132;
  color: #08fdd8;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: -10px;
  font-size: 7.3rem;
  line-height: 6.7rem;
}
.fake-h2 {
  display: none;
}
.fake-big {
  font-family: font-file-82132;
  position: absolute;
  top: 10rem;
  left: 42vw;
  z-index: -1;
  font-size: 36rem;
  color: rgba(255, 255, 255, 0.05);
}
h2:before {
  content: '<h2>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -4rem;
  left: -1rem;
}
h2:after {
  content: '<h2/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -1rem;
  bottom: -5rem;
}
h2 .blast,
h1 .blast {
  opacity: 1;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
h1 .blast:hover,
h2 .blast:hover {
  color: #08fdd8;
}
.text-zone header {
  position: relative;
}
.text-zone p {
  position: relative;
  margin-bottom: 1.5rem;
}
.text-zone p:first-of-type:before {
  content: '<p>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  margin-top: -2rem;
  left: -2rem;
}
.text-zone p:last-of-type:after {
  content: '<p/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  left: -2rem;
  bottom: -3rem;
}
.text-zone h3 {
  font-size: 4rem;
  margin: 0;
}
.text-zone h4 {
  font-size: 3rem;
  margin: 0;
}
.text-zone pre {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  position: relative;
  max-width: 100%;
  color: #fff;
  overflow: auto;
}
.text-zone--secondary img {
  width: 100%;
  height: auto;
}
.text-zone--secondary h1:after {
  left: 0;
  margin-left: -2rem;
  margin-top: 0;
  top: 90%;
}
.text-zone--secondary h2 {
  margin-top: 4rem;
  font-size: 4rem;
  line-height: 4.2rem;
  word-wrap: break-word;
}
.text-zone--secondary h2:before {
  margin-top: -3rem;
}
.text-zone--secondary h2:after {
  bottom: -3.5rem;
}
.text-zone--secondary figure {
  margin: 0;
}
.text-zone--secondary h1 {
  font-size: 7.3rem;
  line-height: 6.7rem;
}
.text-zone--secondary h3 {
  font-size: 2.3rem;
  font-weight: 400;
}
.text-zone--secondary p:before,
.text-zone--secondary p:after {
  display: none;
}
.text-zone--secondary hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0)),
    color-stop(#fd2155),
    to(rgba(0, 0, 0, 0))
  );
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #fd2155,
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #fd2155,
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #fd2155,
    rgba(0, 0, 0, 0)
  );
}
.animation-logo {
  -webkit-animation: animation2 1s linear both;
  animation: animation2 1s linear both;
  opacity: 1 !important;
}
.logo-big {
  position: absolute;
  width: 5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  left: 110%;
  top: 70px;
  -webkit-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo-big svg {
  width: 6rem;
  height: auto;
}
.logo-big span {
  font-family: font-file-82132;
  color: #fff;
  margin-top: 1px;
  font-size: 2.7rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #8d8d8d;
  -webkit-box-shadow: 0 0 0px 1000px #2b2b2b inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo svg {
  width: 6rem;
  height: auto;
}
.logo span {
  font-family: font-file-82132;
  color: #fff;
  margin-top: 1px;
  font-size: 2.7rem;
}

.social {
  color: #909096;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 20rem;
}
.social li {
  text-align: center;
}
.social li a {
  padding: 2rem 7px;
}
.social li a:hover svg path {
  fill: #08fdd8;
}
.social svg {
  width: 1.3rem;
}
.social svg.fa-facebook-f {
  width: 1rem;
}
.social svg path {
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: #909096;
}
.mbtn {
  display: none;
}
.flat-button {
  color: #08fdd8;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin-top: 20px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
}
.flat-button div {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.flat-button:hover {
  color: #000;
}
.flat-button span.bg {
  left: -5%;
  position: absolute;
  background: #08fdd8;
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
.flat-button:hover span.bg {
  width: 110%;
}
.flat-button:hover span.text:after {
  background: #fff;
}
.flat-button span.base {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #08fdd8;
}
.flat-button span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.flat-button span.text:after {
  content: '';
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #08fdd8;
  position: absolute;
  -webkit-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.flat-button--small {
  height: 42px;
  line-height: 42px;
}
.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.back svg {
  width: 1.2rem;
  margin: 0 5px;
}
.scroll-down {
  position: absolute;
  right: 10px;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  color: #fff;
}
.scroll-down span {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  -webkit-animation-name: bounce-1;
  animation-name: bounce-1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.scroll-down svg {
  margin-top: 10px;
  width: 10px;
}
.scroll-down--left {
  left: 10px;
  right: auto;
}
#sound {
  border-radius: 3px;
  padding: 5px;
  right: 20px;
  position: fixed;
  z-index: 999999;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.3);
}
.work-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 5rem;
}
.work-box {
  width: 48%;
  background: #2a2a2a;
  padding: 3rem;
}
.work-box header {
  font-family: font-file-82132;
  font-size: 2.6rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.work-box section {
  font-size: 1.6rem;
  color: #ababab;
  margin-bottom: 1rem;
}
.work-box section time {
  display: block;
  font-size: 1.2rem;
}
.work-box footer {
  font-size: 1.6rem;
  color: #ababab;
  line-height: 1.8rem;
}
.chart {
  margin-bottom: 2rem;
}
.chart span {
  font-size: 18px;
  font-family: font-file-82132;
  margin-bottom: 7px;
  display: block;
}
.chart footer {
  background-color: #373737;
  height: 2px;
}
.chart footer div {
  width: 0;
  height: 100%;
  background-color: #08fdd8;
  -webkit-transition: width 1.3s ease-out;
  -o-transition: width 1.3s ease-out;
  transition: width 1.3s ease-out;
}
.contact-form {
  width: 100%;
  padding-top: 5rem;
  display: block;
  position: relative;
}
.contact-form form {
  position: relative;
}
.contact-form form:before {
  content: '<form>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  bottom: 100%;
  left: -1rem;
}
.contact-form form:after {
  display: block !important;
  content: '</form>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  top: 100%;
  left: -1rem;
}
.contact-form ul {
  padding: 0;
  margin: 0;
}
.contact-form ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  opacity: 0;
  overflow: hidden;
  display: block;
  clear: both;
  position: relative;
}
.contact-form ul li.half {
  width: 49%;
  margin-left: 2%;
  float: left;
  clear: none;
}
.contact-form ul li.submit {
  overflow: hidden;
}
.contact-form ul li.half:first-child {
  margin-left: 0;
}
.contact-form input[type='text'],
.contact-form input[type='email'] {
  width: 100%;
  border: 0;
  background: #2b2b2b;
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact-form textarea {
  width: 100%;
  border: 0;
  background: #2b2b2b;
  height: 50px;
  font-size: 16px;
  color: #8d8d8d;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 150px;
}
.contact-form .flat-button {
  float: right;
}
.contact-form .flat-button.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.contact-form input[type='text']:focus,
.contact-form input[type='email']:focus,
textarea:focus {
  outline: 0;
}
.input__label--hoshi:before,
.input__label--hoshi:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
.input__label--hoshi-color-2:after {
  border-color: #0fa;
}
.input__label--hoshi:after {
  margin-top: 2px;
  border-bottom: 2px solid #08fdd8;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.input__field--hoshi:focus + .input__label--hoshi:after,
.input--filled .input__label--hoshi:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.required .input__field--hoshi + .input__label--hoshi:after,
.required .input--filled .input__label--hoshi:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-color: red;
}
.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
.inf-map {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  top: 50px;
  left: 5rem;
  z-index: 999999;
  width: 230px;
  padding: 20px;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: opacity 0.4s, -webkit-transform 0.9s;
  transition: opacity 0.4s, -webkit-transform 0.9s;
  -o-transition: opacity 0.4s, transform 0.9s;
  transition: opacity 0.4s, transform 0.9s;
  transition: opacity 0.4s, transform 0.9s, -webkit-transform 0.9s;
}
.wp-pagenavi {
  margin-bottom: 4rem;
  margin-top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wp-pagenavi a {
  border: 0;
}
.wp-pagenavi span {
  border: 0;
}
.preloader {
  position: fixed;
  will-change: transform;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #1d1d1d;
  z-index: 2;
  display: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.preloader .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  max-width: 100%;
  height: 160px;
  text-align: center;
}
.preloader .inner > img {
  display: block;
  margin: 0 auto;
}
.preloader .inner > span {
  color: #8d8d8d;
  margin-top: 9px;
  font-size: 9px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 30px;
  display: block;
}
.preloader .progress-bar {
  text-align: left;
}
.preloader .progress-bar_bg {
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}
.preloader .progress-bar_bg div {
  height: 1px;
  background: #08fdd8;
  background: #fd2155;
  background: -webkit-linear-gradient(left, #08fdd8 0%, #fd2155 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#08fdd8),
    to(#fd2155)
  );
  background: -o-linear-gradient(left, #08fdd8 0%, #fd2155 100%);
  background: linear-gradient(to right, #08fdd8 0%, #fd2155 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08fdd8',endColorstr='#fd2155',GradientType=1);
  width: 0;
}
.preloader .progress-bar span {
  color: #fff;
  text-align: right;
  float: left;
  font-size: 27px;
  font-family: font-file-82132;
  margin-bottom: 10px;
  display: block;
}
.section-full {
  min-height: 100vh;
  padding: 9rem 3rem;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.section-full .text-zone {
  padding-left: 5rem;
}
.section-full--nopadding {
  padding: 0 !important;
}
.window-loaded .section-full {
  opacity: 1;
}
.section-full--nomin {
  min-height: 0;
}
.section-home {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-home #canvas {
  left: 0;
  top: 0;
}
.section-home .text-zone {
  position: relative;
  z-index: 1;
}
.section-home .text-zone > * {
  opacity: 0;
}
.section-home .text-zone p {
  -webkit-transition: opacity 0.5s 0.7s, -webkit-transform 0.5s 0.7s;
  transition: opacity 0.5s 0.7s, -webkit-transform 0.5s 0.7s;
  -o-transition: opacity 0.5s 0.7s, transform 0.5s 0.7s;
  transition: opacity 0.5s 0.7s, transform 0.5s 0.7s;
  transition: opacity 0.5s 0.7s, transform 0.5s 0.7s,
    -webkit-transform 0.5s 0.7s;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
.section-home .text-zone a {
  -webkit-transition: opacity 0.5s 1.1s, -webkit-transform 0.5s 1.1s;
  transition: opacity 0.5s 1.1s, -webkit-transform 0.5s 1.1s;
  -o-transition: opacity 0.5s 1.1s, transform 0.5s 1.1s;
  transition: opacity 0.5s 1.1s, transform 0.5s 1.1s;
  transition: opacity 0.5s 1.1s, transform 0.5s 1.1s,
    -webkit-transform 0.5s 1.1s;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
.section-home #main-canvas {
  position: absolute;
  left: 45%;
  z-index: 0;
  margin: auto;
  will-change: transform;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.section-home.loaded .text-zone > * {
  opacity: 1;
}
.section-home.loaded .text-zone p,
.section-home.loaded .text-zone a {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
@-webkit-keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce-1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.section-work {
  overflow: hidden;
  min-height: 0;
}
.section-work .text-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section-work .text-zone > div:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.section-work .text-zone > div:first-child {
  max-width: 800px;
}
.fake-magicwall {
  background-color: rgba(255, 255, 255, 0.1);
}
.fake-magicwall:before {
  content: '<section>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: -4rem;
  left: 2rem;
}
.fake-magicwall:after {
  content: '<section/>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  margin-top: 3rem;
  margin-left: 2rem;
}
.fake-magicwall ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fake-magicwall ul li {
  width: 20%;
  position: relative;
  overflow: hidden;
}
.fake-magicwall ul li:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.fake-magicwall .magic-wall_item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.4s;
  transition: opacity 0.5s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.5s;
  transition: transform 0.4s, opacity 0.5s;
  transition: transform 0.4s, opacity 0.5s, -webkit-transform 0.4s;
}
.fake-magicwall ul li .hover-content {
  position: absolute;
  z-index: 1;
  opacity: 1;
  font: normal normal 16px/20px 'Open Sans', Arial, sans-serif;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.15s ease-out;
  -o-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
  width: 100%;
  height: 100%;
}
.fake-magicwall ul li:hover .hover-content {
  background: rgba(0, 0, 0, 0);
}
.fake-magicwall ul li:hover .magic-wall_item {
  -webkit-transform: scale(1.14);
  -ms-transform: scale(1.14);
  transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  z-index: 9;
  background: url('./img__wall/circle.png') no-repeat center;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
}
a {
  width: 100px;
  height: 100px;
}
.fake-magicwall ul li:hover a.colorbox {
  opacity: 1;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.section-about {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section-about .text-zone {
  width: 40%;
}
.section-about .skills-charts {
  width: 75%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
}
.section-about #myCanvasContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-about #myCanvas {
  margin: auto;
  width: 100%;
}
.section-about #myCanvasContainer li a {
  font-size: 30px;
  font-family: font-file-82132;
}
.page-about {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-about .text-zone {
  width: 40%;
}
.page-about .skills-charts {
  width: 60%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.page-about #myCanvasContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-about #myCanvas {
  margin: auto;
  width: 100%;
}
.page-about #myCanvasContainer li a {
  font-size: 30px;
  font-family: font-file-82132;
}
.page-skills {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-skills .text-zone {
  width: 50%;
  padding-right: 5rem;
}
.page-skills .text-zone + div {
  padding-right: 5rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page-skills .charts {
  opacity: 0;
}
.section-contact {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.section-contact .text-zone {
  width: 50%;
  padding-right: 5rem;
}
.section-contact .text-zone + div {
  position: absolute !important;
  left: 50%;
  top: 0;
  bottom: 0;
  right: 0;
}
.section-contact .contact-map {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.page-contact {
  overflow: hidden;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-contact .text-zone {
  width: 50%;
  z-index: 2;
  background-color: #1d1d1d;
  padding: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 80rem;
}
.page-contact .text-zone + div {
  width: 50%;
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.page-contact .text-zone + div #map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
}
.page-text .logo-big {
  left: 102%;
}
.page-text .text-zone {
  position: relative;
  padding-top: 5rem;
  margin-right: 15rem;
  max-width: 1100px;
}
.page404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.section-blog .fake-big {
  margin: auto;
  top: -20%;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-blog .blog-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.section-blog .post-article {
  margin-bottom: 5rem;
}
.section-blog footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.page-blog .left-col {
  width: calc(100% - 38rem);
}
.page-blog .logo-bg {
  position: absolute;
  z-index: 0;
  width: 40vw;
  height: 40vw;
  top: -5rem;
  left: -25rem;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.page-blog .posts {
  position: relative;
  min-height: 70vh;
}
.page-blog .posts .post-article:last-child {
  border: 0;
}
.page-blog .page-blog__container {
  padding: 2rem 15rem 0 5rem;
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  background: #1d1d1d;
  position: relative;
  z-index: 1;
}
.page-blog .page-blog__container .sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 34rem;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 4rem;
  padding-top: 5rem;
}
.page-blog .widget_contact h6,
.page-blog .widget_tag_cloud h6 {
  font-family: font-file-82132;
  font-size: 34px;
  color: #fff;
  text-transform: lowercase;
  margin: 0 0 35px;
  padding: 0;
}
.page-blog .widget_contact h6 {
  margin-bottom: 1rem;
}
#blog_loop > * {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 0.7s ease-out, -webkit-transform 0.7s;
  transition: opacity 0.7s ease-out, -webkit-transform 0.7s;
  -o-transition: opacity 0.7s ease-out, transform 0.7s;
  transition: opacity 0.7s ease-out, transform 0.7s;
  transition: opacity 0.7s ease-out, transform 0.7s, -webkit-transform 0.7s;
}
#blog_loop > *:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#blog_loop > *:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
#blog_loop > *:nth-child(4) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
#blog_loop > *:nth-child(5) {
  -webkit-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}
#blog_loop > *:nth-child(6) {
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
#blog_loop > *:nth-child(7) {
  -webkit-transition-delay: 1.05s;
  -o-transition-delay: 1.05s;
  transition-delay: 1.05s;
}
#blog_loop > *:nth-child(8) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
#blog_loop > *:nth-child(9) {
  -webkit-transition-delay: 1.35s;
  -o-transition-delay: 1.35s;
  transition-delay: 1.35s;
}
#blog_loop > *:nth-child(10) {
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
#blog_loop > *:nth-child(11) {
  -webkit-transition-delay: 1.65s;
  -o-transition-delay: 1.65s;
  transition-delay: 1.65s;
}
#blog_loop > *:nth-child(12) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}
#blog_loop > *:nth-child(13) {
  -webkit-transition-delay: 1.95s;
  -o-transition-delay: 1.95s;
  transition-delay: 1.95s;
}
#blog_loop > *:nth-child(14) {
  -webkit-transition-delay: 2.1s;
  -o-transition-delay: 2.1s;
  transition-delay: 2.1s;
}
#blog_loop > *:nth-child(15) {
  -webkit-transition-delay: 2.25s;
  -o-transition-delay: 2.25s;
  transition-delay: 2.25s;
}
#blog_loop > *:nth-child(16) {
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}
#blog_loop > *:nth-child(17) {
  -webkit-transition-delay: 2.55s;
  -o-transition-delay: 2.55s;
  transition-delay: 2.55s;
}
#blog_loop > *:nth-child(18) {
  -webkit-transition-delay: 2.7s;
  -o-transition-delay: 2.7s;
  transition-delay: 2.7s;
}
#blog_loop > *:nth-child(19) {
  -webkit-transition-delay: 2.85s;
  -o-transition-delay: 2.85s;
  transition-delay: 2.85s;
}
#blog_loop > *:nth-child(20) {
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
}
#blog_loop > *:nth-child(21) {
  -webkit-transition-delay: 3.15s;
  -o-transition-delay: 3.15s;
  transition-delay: 3.15s;
}
.loaded #blog_loop > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.page-blog-single .page-header-bg {
  padding-bottom: 33%;
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
}
.page-blog-single .text-zone {
  padding-left: 0;
}
.page-blog-single .page-blog__container {
  padding-top: 5rem;
}
.blog-articles {
  padding: 0 5rem;
}
.blog-articles .post-article {
  width: 45%;
}
.blog-articles .post-article:after {
  display: none;
}
.blog-articles > * {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: opacity 0.7s ease-out, -webkit-transform 0.7s;
  transition: opacity 0.7s ease-out, -webkit-transform 0.7s;
  -o-transition: opacity 0.7s ease-out, transform 0.7s;
  transition: opacity 0.7s ease-out, transform 0.7s;
  transition: opacity 0.7s ease-out, transform 0.7s, -webkit-transform 0.7s;
}
.blog-articles > *:nth-child(2) {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.blog-articles > *:nth-child(3) {
  -webkit-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}
.blog-articles > *:nth-child(4) {
  -webkit-transition-delay: 0.9s;
  -o-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
.blog-articles > *:nth-child(5) {
  -webkit-transition-delay: 1.05s;
  -o-transition-delay: 1.05s;
  transition-delay: 1.05s;
}
.blog-articles > *:nth-child(6) {
  -webkit-transition-delay: 1.2s;
  -o-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
.blog-articles > *:nth-child(7) {
  -webkit-transition-delay: 1.35s;
  -o-transition-delay: 1.35s;
  transition-delay: 1.35s;
}
.blog-articles > *:nth-child(8) {
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.blog-articles > *:nth-child(9) {
  -webkit-transition-delay: 1.65s;
  -o-transition-delay: 1.65s;
  transition-delay: 1.65s;
}
.blog-articles > *:nth-child(10) {
  -webkit-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}
.blog-articles > *:nth-child(11) {
  -webkit-transition-delay: 1.95s;
  -o-transition-delay: 1.95s;
  transition-delay: 1.95s;
}
.blog-articles > *:nth-child(12) {
  -webkit-transition-delay: 2.1s;
  -o-transition-delay: 2.1s;
  transition-delay: 2.1s;
}
.blog-articles > *:nth-child(13) {
  -webkit-transition-delay: 2.25s;
  -o-transition-delay: 2.25s;
  transition-delay: 2.25s;
}
.blog-articles > *:nth-child(14) {
  -webkit-transition-delay: 2.4s;
  -o-transition-delay: 2.4s;
  transition-delay: 2.4s;
}
.blog-articles > *:nth-child(15) {
  -webkit-transition-delay: 2.55s;
  -o-transition-delay: 2.55s;
  transition-delay: 2.55s;
}
.blog-articles > *:nth-child(16) {
  -webkit-transition-delay: 2.7s;
  -o-transition-delay: 2.7s;
  transition-delay: 2.7s;
}
.blog-articles > *:nth-child(17) {
  -webkit-transition-delay: 2.85s;
  -o-transition-delay: 2.85s;
  transition-delay: 2.85s;
}
.blog-articles > *:nth-child(18) {
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
}
.blog-articles > *:nth-child(19) {
  -webkit-transition-delay: 3.15s;
  -o-transition-delay: 3.15s;
  transition-delay: 3.15s;
}
.blog-articles > *:nth-child(20) {
  -webkit-transition-delay: 3.3s;
  -o-transition-delay: 3.3s;
  transition-delay: 3.3s;
}
.blog-articles > *:nth-child(21) {
  -webkit-transition-delay: 3.45s;
  -o-transition-delay: 3.45s;
  transition-delay: 3.45s;
}
.loaded .blog-articles > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.post-article {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10rem;
  margin-top: 5rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.post-article:before {
  content: '<articless>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  bottom: 100%;
  left: -1rem;
}
.post-article:after {
  display: block !important;
  content: '</article>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 18px;
  position: absolute;
  top: 105%;
  left: -1rem;
}
.post-article .post-content {
  float: left;
  max-width: 100%;
}
.post-article .post-image {
  padding-bottom: 7%;
  width: 20%;
  min-width: 100px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -73px;
  right: 0;
  border-radius: 3px;
}
.post-article .blog-post-title {
  max-width: 80%;
}
.post-article .blog-post-title h5 {
  margin-bottom: 0;
  margin-top: 0;
}
.post-article .blog-post-title h5 a {
  font-size: 36px;
  letter-spacing: 0px;
  font-family: font-file-82132;
  color: #ff0b56;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
}
.post-article .blog-post-title h5 a:hover {
  color: #08fdd8;
}
.post-article .post-date {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 0;
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: block;
}
.post-article .blog-post-content {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 24px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1400px) {
  .work-box {
    padding: 2rem;
  }
}
@media screen and (max-width: 1300px) {
  body {
    padding-left: 0;
  }
  .section-full:first-child {
    padding-top: 10rem;
  }
  .main-menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: -5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: visibility 0s 0s, z-index 0s 0s;
    -o-transition: visibility 0s 0s, z-index 0s 0s;
    transition: visibility 0s 0s, z-index 0s 0s;
  }
  .main-menu > * {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .main-menu .main-menu__top {
    padding-top: 6rem;
  }
  .main-menu .social {
    margin-top: 2rem;
    height: 4rem;
  }
  .main-menu .logo svg {
    width: 5rem;
    height: auto;
  }
  .page-about .skills-charts {
    width: 50%;
  }
  .page-about .text-zone {
    width: 50%;
  }
  #sound {
    right: 10px;
    top: 8rem;
    width: 6rem;
    font-size: 0;
  }
  #sound a {
    font-size: 13px;
  }
  .mobileopen .mbtn-op {
    display: none;
  }
  .mobileopen .main-menu {
    -webkit-transition: visibility 0s 0s, z-index 0s 0s;
    -o-transition: visibility 0s 0s, z-index 0s 0s;
    transition: visibility 0s 0s, z-index 0s 0s;
    z-index: 99;
    opacity: 1;
  }
  .mobileopen .main-menu > * {
    opacity: 1;
  }
  .work-row {
    width: 100%;
    display: block;
  }
  .work-box {
    width: 100%;
    margin-bottom: 2rem;
    padding: 2rem;
  }
  .page-blog .page-blog__container {
    padding: 2rem 5rem 0;
    margin-left: 0;
  }
  .page-blog .logo-bg {
    width: 70vw;
    height: 70vh;
  }
  #awwwards {
    position: fixed !important;
    top: 122px !important;
  }
}
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 8.3rem;
    line-height: 7rem;
  }
  h2 {
    font-size: 6.5rem;
    line-height: 6rem;
  }
  .top-tags:after {
    margin-left: 0;
  }
  .bottom-tags:before {
    margin-left: 0;
  }
  .page-text .text-zone {
    position: relative;
    padding-top: 5rem;
    margin-right: 0;
    max-width: 1100px;
  }
  .flat-button {
    max-width: 200px;
    height: 45px;
    line-height: 45px;
  }
  .section-work .text-zone {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .section-work .text-zone > div {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    width: 100%;
    max-width: 100% !important;
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .page-about .text-zone,
  .section-about .text-zone {
    width: 50%;
  }
  .page-about .skills-charts,
  .section-about .skills-charts {
    width: 50%;
  }
  .section-full .text-zone {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .blog-articles {
    padding: 0 2rem;
  }
  .blog-articles .post-article {
    width: 48%;
  }
  .page-skills {
    display: block;
  }
  .page-skills .text-zone {
    width: 100%;
  }
  .page-skills .text-zone + div {
    width: 100%;
    padding: 2rem;
  }
  .work-row {
    margin-top: 3rem;
  }
  .page-blog .page-blog__container {
    display: block;
  }
  .page-blog .left-col {
    width: 100%;
  }
  .page-blog .page-blog__container .sidebar {
    width: 100%;
    padding: 0;
    margin-left: 0;
    padding-top: 0;
  }
  .logo-big {
    display: none !important;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 8rem;
    line-height: 7rem;
  }
  .text-zone--secondary h1 {
    font-size: 5.3rem;
    line-height: 4.5rem;
  }
  .fake-magicwall ul li {
    width: 33%;
  }
  .fake-magicwall ul li:last-child {
    display: none;
  }
  .page-about,
  .section-about {
    display: block;
  }
  .page-about .text-zone,
  .section-about .text-zone {
    width: 100%;
  }
  .page-about,
  .section-about {
    display: block;
  }
  .page-about .text-zone,
  .section-about .text-zone {
    width: 50%;
  }
  .page-about,
  .section-about {
    display: block;
  }
  .page-about .text-zone,
  .section-about .text-zone {
    width: 100%;
  }
  .page-about .text-zone img,
  .section-about .text-zone img {
    display: none;
  }
  .page-about .skills-charts,
  .section-about .skills-charts {
    position: static;
    width: 100%;
  }
  .blog-articles {
    display: block;
  }
  .blog-articles .post-article {
    width: 100%;
  }
  .section-blog .fake-big {
    top: -10rem;
  }
  .fake-big {
    font-size: 25rem;
    top: 22rem;
  }
  .page-contact,
  .section-contact {
    display: block;
  }
  .page-contact .text-zone,
  .section-contact .text-zone {
    width: 100%;
    padding-right: 2rem;
  }
  .page-contact .text-zone + div,
  .section-contact .text-zone + div {
    position: relative !important;
    left: 0;
    margin-top: 4rem;
    height: 50rem;
    width: 100%;
  }
  .gray-text {
    letter-spacing: 1px;
  }
  .inf-map {
    top: 20px;
    left: 2rem;
  }
  .page-blog .page-blog__container {
    padding: 2rem 3rem 0;
    margin-left: 0;
  }
  .text-zone h3 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .text-zone h2 {
    line-height: 4.9rem;
  }
  #awwwards a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 64px;
    height: 105px;
    background-repeat: no-repeat;
    background-size: 64px 105px;
  }
  #awwwards {
    width: 64px;
  }
}
@media screen and (max-width: 600px) {
  body {
    font-size: 1.5rem;
  }
  .text-zone--secondary h1,
  h1 {
    font-size: 5.3rem;
    line-height: 4.5rem;
  }
  .text-zone--secondary h1 img,
  h1 img {
    margin-right: -1rem;
    width: 35px;
    height: auto;
  }
  h2 {
    font-size: 5.5rem;
    line-height: 6rem;
  }
  .gray-text {
    font-size: 1.4rem;
  }
  .flat-button {
    max-width: 200px;
    height: 42px;
    line-height: 42px;
  }
  .page-skills .text-zone + div,
  .section-full .text-zone {
    padding-left: 0;
    padding-right: 0;
  }
  .page-skills .text-zone {
    padding-right: 0;
    padding-left: 0;
  }
  .section-full {
    padding: 9rem 3rem;
  }
  .blog-articles {
    padding: 0;
  }
  .fake-big {
    font-size: 22rem;
    left: 0;
  }
  .section-blog .fake-big {
    left: 11rem;
  }
  .post-article .blog-post-title {
    max-width: 100%;
  }
  .post-article .blog-post-title h5 a {
    font-size: 30px;
    line-height: 31px;
  }
  .post-article .blog-post-content {
    font-size: 15px;
    line-height: 22px;
  }
  .section-contact .text-zone {
    padding-right: 0;
  }
  .page-contact .text-zone,
  .section-contact .text-zone {
    padding-right: 0;
  }
  .tags {
    left: 2rem;
  }
  .inf-map {
    top: 10px;
    left: 1rem;
  }
  .page-blog {
    padding: 9rem 0;
  }
  .page-blog .page-blog__container {
    padding: 3rem 2rem 0;
    margin-left: 0;
  }
  .page-blog-single .page-header-bg {
    padding-bottom: 66%;
  }
  .preloader .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    max-width: 80%;
    height: 160px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  h1:before {
    margin-top: -3rem;
  }
  .text-zone h2,
  h2 {
    font-size: 4.5rem;
    line-height: 4.2rem;
  }
  .text-zone--secondary h1 {
    font-size: 4rem;
    line-height: 4.2rem;
  }
  .text-zone--secondary h2 {
    font-size: 3.3rem;
    line-height: 3.8rem;
  }
  .text-zone h3 {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .inf-map {
    font-size: 15px;
  }
  .fake-magicwall ul li {
    width: 50%;
  }
  .fake-magicwall ul li:last-child {
    display: block;
  }
  .flat-button {
    max-width: 170px;
    height: 40px;
    line-height: 40px;
  }
  .contact-form ul li.half {
    width: 100%;
    margin-left: 0;
    float: none;
    clear: none;
  }
  .fake-big {
    font-size: 15rem;
    display: none;
  }
  .section-blog .fake-big {
    left: 7rem;
    top: 0;
  }
  .section-contact .text-zone + div {
    height: 30rem;
  }
  .work-row {
    margin-top: 2rem;
  }
  .work-box {
    padding: 2rem;
  }
  .work-box header {
    font-size: 2.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .work-box footer {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 380px) {
  h1 {
    font-size: 4.2rem;
    line-height: 3.6rem;
  }
  h1 img {
    margin-right: -1rem;
    width: 26px;
    height: auto;
  }
  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .page-blog .widget_contact h6,
  .page-blog .widget_tag_cloud h6 {
    font-family: font-file-82132;
    font-size: 28px;
  }
  .post-article .blog-post-title h5 a {
    font-size: 26px;
    line-height: 28px;
  }
  .text-zone--secondary h1 {
    font-size: 3.7rem;
    line-height: 4rem;
  }
  .text-zone--secondary h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .text-zone--secondary h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .flat-button {
    letter-spacing: 3px;
  }
  .gray-text {
    letter-spacing: 0;
  }
  .flat-button {
    max-width: 150px;
    height: 38px;
    line-height: 38px;
  }
  .fake-magicwall ul li:nth-child(6) ~ li {
    display: none;
  }
}

.wp-pagenavi {
  clear: both;
}
.wp-pagenavi a,
.wp-pagenavi span {
  text-decoration: none;
  border: 1px solid #bfbfbf;
  padding: 3px 5px;
  margin: 2px;
}
.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  border-color: #000;
}
.wp-pagenavi span.current {
  font-weight: 700;
}
.contact a path {
  fill: transparent;
  stroke: 10px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}
.exp a path {
  fill: transparent;
  stroke: 10px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}

.home a path {
  fill: transparent;
  stroke: 10px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}

.work a path {
  fill: transparent;
  stroke: 1px;
  stroke: rgb(23, 199, 146);
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
}
.exp:hover a path {
  position: relative;
  animation: animate-contact 1.5s linear forwards;
}
.home:hover a path {
  animation: animate-contact 1.5s linear forwards;
  position: relative;
}
.work:hover a path {
  animation: animate-contact 1.5s linear forwards;
  position: relative;
}
.contact:hover a path {
  animation: animate-contact 1.5s linear forwards;
  position: relative;
}
.home:hover::before {
  position: absolute;
  top: 45px;
  left: 14px;
  text-align: center;
  color: rgb(23, 199, 146);
  font-size: 18px;
  font-size: bold;
  content: 'HOME';
}

.exp:hover::before {
  position: absolute;
  color: rgb(23, 199, 146);
  font-size: 18px;
  font-size: bold;
  content: 'SKILLS';
  top: 45px;
  left: 12px;
}

.work:hover::before {
  position: absolute;
  color: rgb(23, 199, 146);
  font-size: 18px;
  font-size: bold;
  content: 'WORKS';
  top: 45px;
  left: 8px;
}

.contact:hover::before {
  position: absolute;
  color: rgb(23, 199, 146);
  font-size: 14px;
  font-size: bold;
  content: 'CONTACTS';
  top: 45px;
  left: 3px;
}
